html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0; }

header.top {
  background: #F5F5F5;
  padding: 10px;
  border-bottom: 1px solid #E5E5E5; }
  header.top .mega-octicon {
    font-size: 1.75em;
    margin-left: 60px; }
  header.top input {
    padding: 3px 5px;
    width: 360px;
    height: 28px;
    font-size: .8em; }
  header.top .navMain {
    display: inline-block; }
    header.top .navMain a {
      text-decoration: none;
      color: #333333;
      font-weight: 800;
      font-size: .8em;
      padding: 0 5px; }
      header.top .navMain a:hover {
        color: #4078C0; }
  header.top .navNotif {
    float: right;
    margin-right: 60px; }
    header.top .navNotif span {
      padding: 0 10px 10px;
      font-size: 1em; }
    header.top .navNotif .octicon {
      color: #333333;
      padding-left: 3px; }
      header.top .navNotif .octicon:hover {
        color: #4078C0; }
    header.top .navNotif img {
      width: 25px;
      border-radius: 5px;
      margin-left: 5px;
      margin-top: 5px; }
    header.top .navNotif::after {
      clear: both;
      display: block;
      content: ""; }
    header.top .navNotif div.dropdown {
      position: absolute;
      z-index: 99;
      right: 122px;
      top: 27px; }
      header.top .navNotif div.dropdown::before {
        position: absolute;
        display: inline-block;
        content: "";
        top: 15px;
        left: 170px;
        border: 8px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.15); }
      header.top .navNotif div.dropdown ul.menu {
        background-color: white;
        margin-top: 30px;
        padding: 5px 0;
        padding-left: 0;
        border: 1px solid #E5E5E5;
        border-radius: 5px; }
      header.top .navNotif div.dropdown a.menu-item {
        display: block;
        font-size: .8em;
        padding: 5px 70px 5px 15px;
        text-decoration: none;
        color: #333333; }

div.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 150px; }
  div.wrapper::after {
    clear: both;
    content: "";
    display: table; }

main {
  max-width: 12 of 12;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main section.sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
    margin-right: 10px;
    float: left; }
    main section.sidebar:last-child {
      margin-right: 0; }
    main section.sidebar #avatar {
      width: 100%;
      margin: 30px 0 0;
      display: block;
      border-radius: 10px; }
    main section.sidebar h1 {
      margin: 5px 0 0 0; }
    main section.sidebar #username {
      color: #676767;
      font-size: 1.3em;
      font-weight: 300;
      margin: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #E5E5E5; }
    main section.sidebar div.contact {
      border-bottom: 1px solid #E5E5E5; }
      main section.sidebar div.contact .contact3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      main section.sidebar div.contact .contact2,
      main section.sidebar div.contact .contact3,
      main section.sidebar div.contact .contact4 {
        padding-top: 5px; }
    main section.sidebar #location {
      margin-right: 0;
      margin: 20px 0 5px 0;
      font-size: .9em;
      display: inline-block;
      padding-left: 5px; }
    main section.sidebar #email {
      margin: 5px 0;
      text-decoration: none;
      font-size: .9em;
      color: #4078C0; }
      main section.sidebar #email:hover {
        text-decoration: underline; }
    main section.sidebar #blog {
      font-size: .9em;
      color: #4078C0;
      margin: 5px 0;
      text-decoration: none; }
      main section.sidebar #blog:hover {
        text-decoration: underline; }
    main section.sidebar #join {
      font-size: .9em;
      display: inline-block;
      padding-left: 5px;
      margin: 5px 0;
      padding-bottom: 20px; }
    main section.sidebar .octicon {
      color: #888888;
      content: "";
      clear: both; }
    main section.sidebar::after {
      content: "";
      display: block;
      clear: both; }
    main section.sidebar div.stats {
      border-bottom: 1px solid #E5E5E5;
      padding-bottom: 10px; }
      main section.sidebar div.stats a {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        text-decoration: none;
        text-align: center; }
        main section.sidebar div.stats a:last-child {
          margin-right: 0; }
        main section.sidebar div.stats a p {
          font-size: 1.75em;
          font-weight: bold;
          color: #4078C0;
          display: block;
          text-align: center;
          margin: 5px 0 0; }
        main section.sidebar div.stats a span {
          margin-right: 0;
          font-size: .75em;
          color: #676767; }
          main section.sidebar div.stats a span:hover {
            color: #4078C0; }
      main section.sidebar div.stats::after {
        content: "";
        display: block;
        clear: both; }
    main section.sidebar div.orgs h3 {
      color: #333333; }
    main section.sidebar div.orgs img {
      width: 42px;
      border-radius: 5px; }
  main section.projectWrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    main section.projectWrap:last-child {
      margin-right: 0; }
  main header.tabs {
    float: left;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5; }
    main header.tabs div.tab2 {
      border: 1px solid #E5E5E5;
      border-radius: 3px;
      padding: 10px 5px 0 5px;
      border-bottom: none; }
      main header.tabs div.tab2 p,
      main header.tabs div.tab2 .octicon {
        color: #333333; }
    main header.tabs div {
      float: left;
      display: inline-block;
      margin: 10px 10px 0 10px;
      padding-top: 10px; }
      main header.tabs div p,
      main header.tabs div .octicon {
        float: left;
        margin-top: 0;
        margin-left: 5px;
        color: #676767;
        font-size: .9em; }
    main header.tabs div.editBtn {
      float: right;
      margin-right: 0; }
      main header.tabs div.editBtn button {
        color: #333333;
        font-weight: 700;
        font-size: .8em;
        background: #eee;
        border: 1px solid #D5D5D5;
        border-radius: 5px;
        padding: 5px 10px; }
        main header.tabs div.editBtn button .octicon {
          margin-right: 3px; }
  main section.search input,
  main section.search button {
    float: left;
    margin-top: 10px;
    padding: 10px; }
  main section.search input {
    width: 260px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    margin-right: 5px;
    font-size: .75em; }
  main section.search button {
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    background: #eee;
    font-weight: 800;
    font-size: .75em; }
  main section.search nav {
    float: left;
    margin-top: 20px;
    margin-left: 40px; }
    main section.search nav a {
      text-decoration: none;
      color: #4078C0;
      font-size: .9em;
      padding: 0 2.5px; }
      main section.search nav a:first-child {
        color: #333333;
        font-weight: bold; }
      main section.search nav a:hover {
        text-decoration: underline; }
  main section.search button.octicon {
    color: white;
    background: #7ACB5D;
    border: 1px solid;
    border-radius: 5px;
    float: right;
    font-weight: 800;
    font-size: .9em; }
    main section.search button.octicon span {
      padding-right: 3px; }
  main section.search::after {
    content: "";
    display: block;
    clear: both; }
  main section.projects {
    width: 100%;
    margin-right: 0;
    padding: 10px;
    float: left; }
    main section.projects article {
      margin: 30px 0;
      padding-bottom: 30px;
      border-bottom: 1px solid #E5E5E5; }
      main section.projects article:first-child {
        border-top: 1px solid #E5E5E5;
        padding-top: 30px; }
      main section.projects article header a {
        text-decoration: none;
        text-transform: capitalize;
        color: #4078C0;
        font-size: 1.3em;
        font-weight: 800; }
        main section.projects article header a:hover {
          text-decoration: underline; }
      main section.projects article time {
        padding-top: 15px;
        color: #888888;
        font-size: 0.75em; }
      main section.projects article div {
        float: right;
        color: #888888;
        font-size: .75em;
        font-weight: 800;
        line-height: .5em;
        position: relative; }
      main section.projects article div a.octicon {
        color: #888888;
        padding: 0 5px 0 10px; }
        main section.projects article div a.octicon:hover {
          color: #4078C0; }
